@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /*Configuração para Tablet*/

    
    section#info {
        width: 60vw;
        height: auto;
    }

    div#dados > p {
        margin: 10px 0px;
    }
}

@media screen and (min-width: 992px) {
    section#info {
        width: 650px;
        height: auto;
    } 
}